Skip to content
This repository
Search
Pull requests
Issues
Gist
 @tiffyzhu
 Unwatch 3
  Star 0
  Fork 0 cou28/cou28.github.io Private
 Code  Issues 0  Pull requests 0  Projects 0  Wiki  Pulse  Graphs
Tree: d299c4c644 Find file Copy pathcou28.github.io/css/cam-style.css
2b42480  12 minutes ago
@tiffyzhu tiffyzhu Update cam-style.css
2 contributors @tiffyzhu @cou28
RawBlameHistory     
Executable File  109 lines (98 sloc)  1.39 KB
@font-face {
  font-family: 'Palitoon';
  src: url('../fonts/palitoon.otf');
}

.back_button{
  float: left;
  margin-top: 30px;
  margin-left: 10px;
}

header {
  width: 600px;
  height: 90px;
  background-color: #f7f1f0;
  position: fixed;
  z-index:10;
}

body {
  margin:0;
  padding:0;
  width: 600px;
  height: 854px;
}

#categoryname {
  font-family: 'Palitoon';
  color: #8C7070;
  font-size: 70px;
  z-index:15;
  margin-left:210px;
}
#worddescription {
  font-family: 'Palitoon';
  color: #8C7070;
  font-size: 50px;
  padding-top:100px;
  text-align: center;
  z-index:30;
}
/*.body {
  width: 600px;
  height: 904px;
  background-color: #99ccff;
  padding: 0px;
  margin:0;
  border-style:none;
}*/

.image {
  position: absolute;
  width: 500px;
  height: auto;
}

.box {
  width: 440px;
  height: auto;
  margin-top:30px;
  left:78px;
  position:fixed;
  z-index:20;
}

.insidebox {
  width: 300px;
  height: auto;
  margin-top:130px;
  left:160px;
  position:fixed;
  z-index:21;
}

.parent {
  position: relative;
  top: 0;
  left: 0;
}
#record {
  width: 80px; 
  left: 260px;
  top:700px;
  height: auto;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
}

/*#subbutton {
  bottom: 0;
  margin-bottom: 45px;
  margin-left: 30px;
}*/

.overlay {
  position: absolute; 
}
#canv {
  display:none;
}
#screenVid {
  top:90px;
  width: 600px;
  height: auto;
  position:fixed;
  z-index:19;
}
Contact GitHub API Training Shop Blog About
© 2017 GitHub, Inc. Terms Privacy Security Status Help
