.image {
  position: absolute;
  width: 500px;
  height: auto;
}

#box {
  width: 350px;
  height: auto;
  position: absolute;
}

#record {
  width: 50px;
  height: auto;
  position: absolute;
}


.overlay {
  position: absolute; 
}