/** { border: 1px solid #f00; }*/

p {
    font-family: Verdana, Geneva, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Verdana, Geneva, sans-serif;
}

header {
    height: 100vh;
}

/*.palatino {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
*/
.verdana {
    font-family: Verdana, Geneva, sans-serif;
}

.dac-image {
  position: absolute;
  width: 11em;
  height: auto;
}

header .dac-image {
    right: 5em;
    top: 3em;
}

div .dac-image {
    right: 3em;
    top: 1em;
    width: 9em;
}

.dropdown {
	float: left;
	width: 20%;
}

.dropdown-menu {
    background-color: #e9f3fc;
}

.dropdown-menu>li>a:hover {
    background-color: #adcbe3;
}

.light-blue {
    background-color: #e9f3fc;
}

.btn-primary {
    background-color: #4b86b4;
    border-color: #4b86b4;
}

/*navy blue*/
.btn-primary:hover { 
    background-color: #204d74;
    border-color: #204d74;
}

/*turquoise*/
.btn-primary:focus {
    background-color: #1ABC9C;
    border-color: #1ABC9C;
}

.btn-primary:active {
    background-color: #1ABC9C;
    border-color: #1ABC9C;
}


.full-width {
	width: 100%;
}

#input-text {
	width: 80%;
	float: right;
}

#my-btn {
	background-color: #4b86b4; 
	border-color: #4b86b4;
	color: #e7eff6;
}

#my-btn:hover {
    background-color: #204d74;
    border-color: #204d74;
}

#results-text {
	padding-left: 2.4em;
	color: white;
	background-color: #4b86b4;
}


/*.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #e7eff6; // Choose your own color here
 }*/
 #results-table th{
 	background-color: #204d74;
 	color: white;
    font-family: Verdana, Geneva, sans-serif;
 }

.my-container {
	margin-left: 6em;
	margin-right: 21em;
}

.marginless-container {
	margin: 0em;
	/*width: 100%;*/
}

.paddingless-container {
    padding: 0em;
}

.inner-container {
	padding-top: 1.4em;
	background-color: white;
}

#total {
    height: 100vh;
	background-color: #204d74;
}

#everything {
	background-color: #4b86b4;
	padding-left: 0em;
	padding-bottom: 0em;
    padding-top: 4em;
    height: 100%;
}

#content {
    background-color: #2a4d69;
    height: 100%;
}

#whitespace {
    height: 90%;
}



.table {
	width: 100%;
	border: 0.036em solid #c5c5c5;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
	border: 0.036em solid #c5c5c5;
}

/*td:hover {
	background-color: purple;
}*/

td {
	background-color: #e9f3fc;
}

.table-click {
	background-color: #adcbe3;
}

.table-hover tbody td:hover {
    background-color: #adcbe3;
}

.results-center {
    margin: auto;
}

.table-center {
    position: absolute;
    left: 22em;
    width: 50%;
}

#video {
	/*position: absolute;*/
	/*left: 30em;*/
	/*left: 15em;*/
	opacity: 0;
}

/*#load {
	opacity: 1;
}*/

#vid-bar-chart {
	/*width: 100%;
	height: 100%;*/
	width: 36em; 
	height: 20em;
}