/** { border: 1px solid #f00; }*/

p {
    font-family: Verdana, Geneva, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Verdana, Geneva, sans-serif;
}

body {
    background: url("../img/clur/dreamer.jpg") no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: auto;
}


.start-page {
    height: 100vh;
    width: 100%;
    position: relative;
}

.center {
    position: absolute;
    top: 80%;
    left: 20%;
}

.centerCongrats {
    position: absolute;
    top: 20%;
    left: 60%;
    /*transform: translate(-50%, -50%);*/
    text-align: left;
}


header {
    height: 100vh;
}

/*.palatino {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
*/
.verdana {
    font-family: Verdana, Geneva, sans-serif;
    margin: auto;
    font-size: 200%;
    color: #4B0082;
    font-style: bold;
}


#my-btn {
	background-color: #4b86b4; 
	border-color: #4b86b4;
	color: #e7eff6;
    height: 10%;
}

#my-btn:hover {
    background-color: #204d74;
    border-color: #204d74;
}
