body {
    height:904px;
    width:600px;
}
.front_bg{
	background: url('../img/backgroundimg_854x600.jpg');
	background-size: contain;
	background-repeat: no-repeat;

}
.play_button{
	position:relative;
	top:300px;
}
.settings_button{
	margin:20px;
	float: left;
}
.star_button{
	float: right;
	margin: 20px;
}
