@font-face {
  font-family: 'Palitoon';
  src: url('../fonts/palitoon.otf');
}
.statsbg{
	background: url('../img/statsbackground.jpg');
	background-size: contain;
	background-repeat: no-repeat;

}
.back_button{
  float: left;
  padding-top: 10px;
  padding-left: 10px;
}

body {
  margin:0;
  padding:0;
  top:20px;
  font-family: 'Palitoon';
  color: #8C7070;
  width:600px;
  height:854px;
  
}

.today {
  margin:0;
  padding:0;
  font-size: 50px;
  padding-right: 35px;
  padding-top: 32px;
  font-weight: normal;
}

table {
  height: 540px;
  width: 518px;
  left: 10%;
  margin-left: 43px;
  margin-top: 50px;
  top:100px;
  overflow-y: scroll;
  position: static;
}

th {
  font-size: 27px;
  text-transform: uppercase;
  font-weight: normal;
  text-align: left;
  line-height: 70%;
  padding-top: 10px;
}

.t1 {
  text-align: center;
  margin:0;
  padding:0;
}

tr {
  background: none;
  border-bottom: none;
  margin:0;
  padding: 0;
  vertical-align: top;
}

#first {
  height: 90px;
  vertical-align: middle;
}
.first_td {
  vertical-align: middle;

}

td {
  text-align: left;
  padding-left: 50px;
  width: 33.3333%;
  font-weight: normal;
  font-size: 35px;
}

td #jan22large {
  padding-top:0;
  padding-bottom: 0;
  font-size: 40px;
}

h4 {
  text-align: right;
  margin:0;
  padding:0;
}

.t2 {
  font-size: 42px;
  height: 48px;
  vertical-align: middle;
  margin-bottom:0;
}

#date {
  padding-left: 54px;
  padding-top: 12px;
}

#category {
  padding-left: 45px;
  padding-top: 12px;
}

#todaysmall {
  font-size: 20px;
  margin:0;
  padding:0;
  line-height: 80%;
}
#jan22large {
  font-size: 40px;
  margin:0;
  padding:0;
  line-height: 80%;
}*/
